<h1>Create a New Activity</h1>
<a href="/Home">Back to Dashboard</a>
<a href="/Logout">Logout</a>

@using BeltExam.Models
@model Activity
<form asp-controller="Home" asp-action="NewActivity" method="POST">
  <div class="form-group">
    <span asp-validation-for="ActivityTitle"></span>
    <label asp-for="ActivityTitle">Title:</label>
    <input class="form-control" asp-for="ActivityTitle">
  </div>
  <div class="form-group">
    <span asp-validation-for="ActivityDate"></span>
    <label asp-for="ActivityDate">Date:</label>
    <input class="form-control" asp-for="ActivityDate">
  </div>
  <div class="form-group">
    <span asp-validation-for="Duration"></span>
    <label asp-for="Duration">Duration:</label>
    <input class="form-control" asp-for="Duration">
  </div>
  <div class='form-group'>
    <span asp-validation-for="DurationType"></span>
    <select name = "DurationType">
        <option value="Minutes">Minutes</option>
        <option value="Hours">Hours</option>
        <option value="Days">Days</option>
    </select>
  </div>
  <div class="form-group">
    <span asp-validation-for="Description"></span>
    <label asp-for="Description">Description:</label>
    <input class="form-control" asp-for="Description">
  </div>
  <button type="submit" class="btn btn-primary">Create Activity</button>
</form>